---
import { getCollection, render } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";

import createSlug from "../../lib/createSlug";

// Generate a new path for every collection entry
export async function getStaticPaths() {
    const projects = await getCollection("project");

    return projects.map((project) => {
        let slug = createSlug(project.data.title, project.data?.slug);
        return {
            params: { slug: slug },
            props: { project },
        };
    });
}

const { project } = Astro.props;

const { Content } = await render(project);
---

<MainLayout title={project.data.title}>
    <div class="max-h-full overflow-y-scroll">
        <h1
            class="text-center text-[36px] leading-snug font-bold text-balance text-black dark:text-white"
        >
            {project.data.title}
        </h1>
        <p class="text-muted-text dark:text-dark-muted-text mt-3 text-center">
            {project.data.startDate} - {project.data.endDate}
        </p>
        <hr
            class="border-muted-text dark:border-dark-muted-text my-8 border-[0.5px] opacity-10 dark:opacity-15"
        />
        <div class="prose mx-auto">
            <Content />
        </div>
        <hr
            class="border-muted-text dark:border-dark-muted-text my-8 border-[0.5px] opacity-10 dark:opacity-15"
        />
    </div>
</MainLayout>
