@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
@import "rehype-callouts/theme/vitepress";
@plugin "@tailwindcss/typography";

/* inspo: https://www.design-seeds.com/2024/08/color-wander.html */
@theme {
    --font-signature: "Fredericka the Great", serif;
    --font-body: "Roboto condensed", sans-serif;
    /* --font-body: "Roboto Slab", sans-serif; */
    --font-code: "IBM Plex Mono";

    --color-blue-accent: #454eb3;
    --color-red-accent: #c54b4b;
    --color-green-accent: #388c1e;

    --drop-shadow-button: 0 4px 4px #000000;
    --drop-shadow-nav: 0 12px 12px #000000;

    --color-dark-base: #182525;
    --color-dark-secondary: #192933;
    --color-dark-offset: #33303a;
    --color-dark-neutral: #1f1f21;
    --color-dark-text: #151515;

    --color-light-base: #ebe2d1;
    --color-light-secondary: #916c64;
    --color-light-offset: #a59494;
    --color-light-neutral: #eae3da;
    --color-light-text: #e8e8e8;

    --color-light-shadow-offset: #7a6c6c;
    --color-dark-shadow-offset: #28242d;

    --default-gap: calc(var(--spacing) * 4);
}

@font-face {
    font-family: "BestermindRegular";
    src: url("/font/BestermindRegular.ttf");
}

/* Set global default styles */
@layer base {
    html {
        @apply font-body font-normal;
        @apply text-dark-base dark:text-light-base;
        @apply bg-light-offset dark:bg-dark-offset;
        @apply **:scroll-smooth;
        hyphens: auto;

        @apply dark:bg-dark-offset dark:**:text-light-offset;

        @apply **:shadow-light-shadow-offset;
        @apply dark:**:shadow-dark-shadow-offset;

        @apply [&_h1]:text-dark-text! [&_a]:text-dark-text;
        @apply [&_h1]:dark:text-light-text! [&_a]:dark:text-light-text;
    }

    /* Hide scrollbar outlines while keeping smooth scrolling */
    * {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    *::-webkit-scrollbar {
        display: none; /* WebKit browsers */
    }

    /* https://loading.io/spinner/spinner/ */
    img {
        @apply text-xs;
        display: block;
        background: url("/resources/loading.gif") center center no-repeat;
        background-size: 64px 64px;
        @apply bg-light-neutral dark:bg-dark-neutral;
        font-size: 0px;
    }
}

@utility debug {
    & {
        outline-color: black;
        @apply outline;
        @apply bg-red-200/25;
    }
}

@utility transition-default-* {
    & {
        @apply transition-all ease-linear;
        transition-duration: calc(--value(integer) * 1ms);
    }
}

@utility prose {
    @apply prose-neutral;
    @apply prose-code:cursor-text! prose-headings:cursor-default;

    /* dark-mode styling */
    @apply prose-headings:dark:text-light-text! prose-a:dark:text-light-text! prose-strong:dark:text-light-text!;
    @apply cursor-default;

    :not(pre) > code {
        @apply text-green-accent font-code bg-green-accent/25 border-green-accent/50 mx-0.5 my-auto cursor-text leading-relaxed brightness-80 contrast-200;
        font-size: 0.7em;
        padding: 0.25em;
        border: 0.5px solid;
        border-radius: 0.1rem;
        letter-spacing: 0.075rem;
        &::before,
        &::after {
            content: none !important;
        }
    }

    figcaption code:not(pre code) {
        @apply saturate-100;
        padding: 0.2em;
        letter-spacing: 0.05rem;
    }

    div.expressive-code {
        margin-top: 2rem;
        margin-bottom: 2rem;
        @apply max-w-[100ch] px-2;

        .gutter {
            @apply px-0!;
            .ln {
                @apply text-light-base/50! px-1! text-[8px]! leading-none! md:px-1!;
            }
        }

        span.title {
            @apply text-[0.6rem]! md:text-[0.7rem]! lg:text-[0.75rem]!;
        }

        code {
            @apply cursor-text text-[0.6rem]! md:text-[0.7rem]! lg:text-[0.75rem]!;
        }
    }

    mjx-container {
        @apply text-xs! lg:text-base!;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page-animation {
    animation: 0.25s fadeIn ease-in-out;
}

.content-animation {
    animation: 1s fadeIn ease-in-out;
}

.tag-project-card {
    @apply w-full;
    @apply md:max-w-lg md:min-w-lg;

    @apply md:max-h-full;
    @apply h-fit min-h-fit;

    background-size: 16px 16px;
    background-image: radial-gradient(
        circle,
        #9b9b9b 0.5px,
        rgba(0, 0, 0, 0) 0.5px
    );
    @media (prefers-color-scheme: dark) {
        background-image: radial-gradient(
            circle,
            #434343 0.5px,
            rgba(0, 0, 0, 0) 0.5px
        );
    }
}

.tag-project-card #project-headings {
    background: unset !important; /* first reset the background */
    background-color: var(
        --color-light-offset
    ) !important; /* then set background-color */
    @media (prefers-color-scheme: dark) {
        background-color: var(--color-dark-offset) !important;
    }
    @apply border-light-neutral dark:border-dark-neutral m-2 rounded-sm border-3 border-double px-4 pt-2 pb-4 md:pb-2;
}

.tag-project-card .project-visual-container {
    @apply mt-4 mb-6 aspect-video overflow-hidden rounded-md p-0;
}

.tag-project-card #project-title-link {
    @apply font-extrabold;
}

.tag-project-card .project-description {
    height: 64px;
    overflow-y: scroll;
    @apply flex items-center-safe;
    font-size: 14px;
    line-height: 16px;
}

.coming-soon-container-breakdown .coming-soon-img {
    @apply border-light-neutral/75 dark:border-dark-neutral/75 my-2 max-w-7xl rounded-xl border-8 border-double md:my-4 md:w-3/4;
}

/* Style of all sections within project breakdowns */
.project-breakdown-content {
    @apply prose prose-sm lg:prose-base prose-h5:font-medium prose-a:text-blue-accent! prose-a:**:text-blue-accent!;
    @apply relative mx-auto mt-4 min-w-full **:mx-auto *:last:my-0! [&_img]:mx-auto [&_img]:rounded-md;
}

/* Center figures that have an img as direct descendant */
.project-breakdown-content figure:has(> img) {
    @apply mx-auto w-fit;
}

/* center img elements that are not a descendant of a figure (i.e. do not have a caption) */
.project-breakdown-content :not(figure) img {
    @apply mx-auto;
}

.project-breakdown-content figcaption:not(.header)::before {
    content: "⬑";
    @apply px-1;
}

.project-breakdown-content figcaption:not(.header) {
    background-color: transparent !important;
    @apply my-2! text-xs!;
}

/* expressive-code-caption inserts an extra paragraph element within figcaption */
.project-breakdown-content figcaption > p {
    display: inline;
}

/* styling for TIP, INFO, etc. */
.callout-title-text {
    font-weight: 400 !important;
}
