@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";
@import "rehype-callouts/theme/vitepress";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@font-face {
    font-family: "BestermindRegular";
    src: url("/font/BestermindRegular.ttf");
}

/* inspo: https://www.design-seeds.com/2024/08/color-wander.html */
@theme {
    --font-signature: "Fredericka the Great", serif;
    --font-body: "Roboto condensed", sans-serif;
    /* --font-body: "Roboto Slab", sans-serif; */
    --font-code: "IBM Plex Mono";

    --color-blue-accent: #454eb3;
    --color-red-accent: #c54b4b;
    --color-green-accent: #388c1e;

    --drop-shadow-button: 0 4px 4px #000000;
    --drop-shadow-nav: 0 12px 12px #000000;

    --default-gap: calc(var(--spacing) * 4);

    --color-primary: #ebe2d1;
    --color-secondary: #916c64;
    --color-tertiary: #a59494;
    --color-neutral-primary: #eae3da;
    --color-important-text: #151515;
    --color-primary-shadow: #7a6c6c;
    --color-inverted-primary: #182525;
    --color-inverted-secondary: #192933;
    --color-inverted-tertiary: #33303a;
    --color-inverted-neutral: #1f1f21;
    --color-inverted-shadow: #28242d;
    --color-inverted-important-text: #e8e8e8;
    --color-grid-background: #c3bdbd;
}

/* dark mode overrides of main color palette */
@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #182525;
        --color-secondary: #192933;
        --color-tertiary: #33303a;
        --color-neutral-primary: #1f1f21;
        --color-important-text: #e8e8e8;
        --color-primary-shadow: #28242d;
        --color-inverted-primary: #ebe2d1;
        --color-inverted-secondary: #916c64;
        --color-inverted-tertiary: #a59494;
        --color-inverted-neutral: #eae3da;
        --color-inverted-shadow: #7a6c6c;
        --color-inverted-important-text: #151515;
        --color-grid-background: #868080;
    }
}

:root[data-theme="dark"] {
    color-scheme: dark;

    --color-primary: #182525;
    --color-secondary: #192933;
    --color-tertiary: #33303a;
    --color-neutral-primary: #1f1f21;
    --color-important-text: #e8e8e8;
    --color-primary-shadow: #28242d;
    --color-inverted-primary: #ebe2d1;
    --color-inverted-secondary: #916c64;
    --color-inverted-tertiary: #a59494;
    --color-inverted-neutral: #eae3da;
    --color-inverted-shadow: #7a6c6c;
    --color-inverted-important-text: #151515;
    --color-grid-background: #868080;
}

:root[data-theme="light"] {
    color-scheme: light;

    --color-primary: #ebe2d1;
    --color-secondary: #916c64;
    --color-tertiary: #a59494;
    --color-neutral-primary: #eae3da;
    --color-important-text: #151515;
    --color-primary-shadow: #7a6c6c;
    --color-inverted-primary: #182525;
    --color-inverted-secondary: #192933;
    --color-inverted-tertiary: #33303a;
    --color-inverted-neutral: #1f1f21;
    --color-inverted-shadow: #28242d;
    --color-inverted-important-text: #e8e8e8;
    --color-grid-background: #c3bdbd;
}

/* Set global default styles */
@layer base {
    html {
        @apply font-body font-normal;
        @apply **:scroll-smooth;
        hyphens: auto;

        /* background color */
        @apply bg-tertiary;
        /* text color */
        @apply **:text-inverted-tertiary;

        @apply **:shadow-primary-shadow;

        @apply [&_h1]:text-important-text! [&_a]:text-important-text;
    }

    /* Hide scrollbar outlines while keeping smooth scrolling */
    * {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    *::-webkit-scrollbar {
        display: none; /* WebKit browsers */
    }

    /* https://loading.io/spinner/spinner/ */
    img {
        @apply text-xs;
        display: block;
        background: url("/resources/loading.gif") center center no-repeat;
        background-size: 64px 64px;
        @apply bg-neutral-primary;
        font-size: 0px;
    }
}

@utility debug {
    & {
        outline-color: black;
        @apply outline;
        @apply bg-red-200/25;
    }
}

@utility transition-default-* {
    & {
        @apply transition-all ease-linear;
        transition-duration: calc(--value(integer) * 1ms);
    }
}

@utility prose {
    @apply prose-neutral;
    @apply prose-code:cursor-text! prose-headings:cursor-default;
    @apply prose-headings:text-important-text! prose-a:text-important-text! prose-strong:text-important-text!;
    @apply cursor-default;

    :not(pre) > code {
        @apply text-green-accent font-code bg-green-accent/25 border-green-accent/50 mx-0.5 my-auto cursor-text leading-relaxed brightness-80 contrast-200;
        font-size: 0.7em;
        padding: 0.25em;
        border: 0.5px solid;
        border-radius: 0.1rem;
        letter-spacing: 0.075rem;
        &::before,
        &::after {
            content: none !important;
        }
    }

    figcaption code:not(pre code) {
        @apply saturate-100;
        padding: 0.2em;
        letter-spacing: 0.05rem;
    }

    div.expressive-code {
        margin-top: 2rem;
        margin-bottom: 2rem;
        @apply max-w-[100ch] px-2;

        .gutter {
            @apply px-0!;
            .ln {
                @apply text-inverted-primary/50! px-1! text-[8px]! leading-none! md:px-1!;
            }
        }

        span.title {
            @apply text-[0.6rem]! md:text-[0.7rem]! lg:text-[0.75rem]!;
        }

        code {
            @apply cursor-text text-[0.6rem]! md:text-[0.7rem]! lg:text-[0.75rem]!;
        }
    }

    mjx-container {
        @apply text-xs! lg:text-base!;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.page-animation {
    animation: 0.25s fadeIn ease-in-out;
}

.content-animation {
    animation: 1s fadeIn ease-in-out;
}

.tag-project-card {
    @apply w-full;
    @apply md:max-w-lg md:min-w-lg;

    @apply md:max-h-full;
    @apply h-fit min-h-fit;

    background-size: 16px 16px;
    background-image: radial-gradient(
        circle,
        var(--color-grid-background) 0.5px,
        rgba(0, 0, 0, 0) 0.5px
    );
}

.tag-project-card #project-headings {
    @apply m-2 px-4 pt-2 pb-4 md:pb-2;
}

.tag-project-card .project-visual-container {
    @apply mt-4 mb-6 aspect-video overflow-hidden rounded-md p-0;
}

.tag-project-card #project-title-link {
    @apply font-extrabold;
}

.tag-project-card .project-description {
    height: 64px;
    overflow-y: scroll;
    @apply flex items-center-safe;
    font-size: 14px;
    line-height: 16px;
}

.coming-soon-container-breakdown .coming-soon-img {
    @apply border-neutral-primary/75 my-2 max-w-7xl rounded-xl border-8 border-double md:my-4 md:w-3/4;
}

/* Style of all sections within project breakdowns */
.project-breakdown-content {
    @apply prose prose-sm lg:prose-base prose-h5:font-medium prose-a:text-blue-accent! prose-a:**:text-blue-accent!;
    @apply relative mx-auto mt-4 min-w-full **:mx-auto *:last:my-0! [&_img]:mx-auto [&_img]:rounded-md;
}

/* Center figures that have an img as direct descendant */
.project-breakdown-content figure:has(> img) {
    @apply mx-auto w-fit;
}

/* center img elements that are not a descendant of a figure (i.e. do not have a caption) */
.project-breakdown-content :not(figure) img {
    @apply mx-auto;
}

.project-breakdown-content figcaption:not(.header)::before {
    content: "⬑";
    @apply px-1;
}

.project-breakdown-content figcaption:not(.header) {
    background-color: transparent !important;
    @apply my-2! text-xs!;
}

/* expressive-code-caption inserts an extra paragraph element within figcaption */
.project-breakdown-content figcaption > p {
    display: inline;
}

/* styling for TIP, INFO, etc. */
.callout-title-text {
    font-weight: 400 !important;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    /* --color-primary: var(--primary); */
    --color-primary-foreground: var(--primary-foreground);
    /* --color-secondary: var(--secondary); */
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --radius: 0.625rem;
    /* --background: oklch(1 0 0); */
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
