@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@import url("/vendor/temml/Temml-NotoSans.css") layer(math);

/* tailwind layers are 'theme', 'base', 'components', and 'utilities' */
@layer theme, base, resets, globals, components, defaults, utilities, ecLayer, math, overrides;

@import "tailwindcss";
@import "rehype-callouts/theme/vitepress" layer(utilities);
@plugin "@tailwindcss/typography";

@theme {
    --breakpoint-horizontal: 768px;

    --font-words: "Roboto condensed", sans-serif; /* default font for app, `words` to avoid clash */
    --font-signature: "Fredericka the Great", serif;
    --font-code: "JetBrains Mono", monospace;
    --font-github-code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* light color palette */
    --color-light-primary-shade: #eae3da;
    --color-light-secondary-shade: #657557;
    --color-light-tertiary-shade: #9e8698;
    --color-light-primary-neutral: #e2e0e0;
    --color-light-important-text: #151515;
    --color-light-primary-shadow: #7a6c6c;
    --color-light-grid-background: #c3bdbd;

    --color-light-blue-accent: #454eb3;
    --color-light-red-accent: #c54b4b;
    --color-light-green-accent: #388c1e;
    --color-light-aqua-accent: #34b3b9;
    --color-light-orange-accent: #c34a09;
    --color-light-violet-accent: #9f2b68;

    /* dark color palette */
    --color-dark-primary-shade: #182525;
    --color-dark-secondary-shade: #192933;
    --color-dark-tertiary-shade: #33303a;
    --color-dark-primary-neutral: #1f1f21;
    --color-dark-important-text: #e8e8e8;
    --color-dark-primary-shadow: #28242d;
    --color-dark-grid-background: #868080;

    /* light accent colors adjusted by saturation and luminance variables */
    --color-dark-blue-accent: hsl(from var(--color-light-blue-accent) h calc(s + var(--a2-accent-dark-saturation-adjust)) calc(l + var(--a2-accent-dark-luminance-adjust)));
    --color-dark-red-accent: hsl(from var(--color-light-red-accent) h calc(s + var(--a2-accent-dark-saturation-adjust)) calc(l + var(--a2-accent-dark-luminance-adjust)));
    --color-dark-green-accent: hsl(from var(--color-light-green-accent) e h calc(s + var(--a2-accent-dark-saturation-adjust)) calc(l + var(--a2-accent-dark-dark-luminance-adjust)));
    --color-dark-aqua-accent: hsl(from var(--color-light-aqua-accent) h calc(s + var(--a2-accent-dark-saturation-adjust)) calc(l + var(--a2-accent-dark-luminance-adjust)));
    --color-dark-orange-accent: hsl(from var(--color-light-orange-accent) h calc(s + var(--a2-accent-dark-saturation-adjust)) calc(l + var(--a2-accent-dark-luminance-adjust)));

    /**
     * Controller variables for color palette.
     * Overriden in layer "overrides" when theme changes.
     * Allows usage of tailwind automatic utility classes within theme.
     */
    --color-primary-shade: var(--color-light-primary-shade);
    --color-secondary-shade: var(--color-light-secondary-shade);
    --color-tertiary-shade: var(--color-light-tertiary-shade);
    --color-primary-neutral: var(--color-light-primary-neutral);
    --color-important-text: var(--color-light-important-text);
    --color-primary-shadow: var(--color-light-primary-shadow);
    --color-inverted-primary: var(--color-dark-primary-shade);
    --color-inverted-secondary: var(--color-dark-secondary-shade);
    --color-inverted-tertiary: var(--color-dark-tertiary-shade);
    --color-inverted-neutral: var(--color-dark-primary-neutral);
    --color-inverted-shadow: var(--color-dark-primary-shadow);
    --color-inverted-important-text: var(--color-dark-important-text);
    --color-grid-background: var(--color-dark-grid-background);

    --color-blue-accent: var(--color-light-blue-accent);
    --color-red-accent: var(--color-light-red-accent);
    --color-green-accent: var(--color-light-green-accent);
    --color-aqua-accent: var(--color-light-aqua-accent);
    --color-orange-accent: var(--color-light-orange-accent);
    --color-violet-accent: var(--color-light-violet-accent);

    --container-3xs: 198px;
    --min-height-3xs: var(--container-3xs); /* extends min-h-* */

    --text-2xs: 10px;
    --text-3xs: 10px;
    --font-size-2xs: var(--text-2xs);
    --font-size-3xs: var(--text-3xs); /* extends text-* */

    --gap-xs: var(--spacing);
    --gap-sm: calc(var(--spacing) * 2);
    --gap-md: calc(var(--spacing) * 4);
    --gap-lg: calc(var(--spacing) * 8); /* extends gap-* */

    --border-sm: 0.5px;
    --border-md: 1px;
}

@custom-variant horizontal {
    @media (min-width: theme(--breakpoint-horizontal)) {
        @slot;
    }
}

@layer resets {
    /* Use a more-intuitive box-sizing model and remove default margin */
    :where(*, *::before, *::after) {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /* Improve media defaults */
    :where(img, picture, video, canvas, svg) {
        display: block;
        max-width: 100%;
    }

    /* Remove list styles */
    :where(ul[role="list"], ol[role="list"]) {
        list-style: none;
    }

    /* Inherit fonts for form controls  */
    :where(input, button, textarea, select) {
        font: inherit;
    }

    /* Avoid text overflows and add auto hyphenation */
    :where(p, h1, h2, h3, h4, h5, h6) {
        overflow-wrap: break-word;
        hyphens: auto;
    }

    /* Improve line wrapping */
    :where(p) {
        text-wrap: pretty;
    }
    :where(h1, h2, h3, h4, h5, h6) {
        text-wrap: balance;
    }

    /* Improve text rendering and ensure text size is never adjusted */
    html {
        -webkit-font-smoothing: antialiased;
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    /* Hide scrollbars on all browser types */
    :where(*) {
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none; /* Chrome, Safari, Edge, Opera */
        }
    }
}

/* Personal global variables and behavior-related defaults */
@layer globals {
    :root {
        --a2-rem-size: 16px; /* in case of desired override */

        /* typography */
        --a2-font-family: var(--font-words);
        --a2-font-size: 16px;
        --a2-font-weight: 450;
        --a2-text-color: var(--color-inverted-tertiary); /* text color */
        --a2-emphasized-text-color: var(--color-important-text);
        --a2-code-text-color: var(--color-red-accent);
        --a2-link-text-color: var(--color-blue-accent);
        --a2-line-height: 1.5; /* line-height */
        --a2-line-height-form-controls: 1.2;

        --a2-line-height-atoms: 1.1;
        --a2-spacing-atoms: 0.35em;

        /* preferences */
        --a2-semantics-cursor: default;
        --a2-scroll-behavior: smooth;

        /* shadow color */
        --a2-shadow-color: var(--color-primary-shadow);
        --a2-outline-border-color: var(--color-inverted-shadow);

        /* main-content-cell styling */
        --a2-main-content-padding-inline: calc(var(--spacing) * 6);
        --a2-main-content-padding-block: calc(var(--spacing) * 12);

        --a2-accent-dark-luminance-adjust: 10;
        --a2-accent-dark-saturation-adjust: 50;

        --a2-transition-duration-item: 250ms;
        --a2-transform-scale-adjust: 15%;

        --a2-is-dark-theme: 0; /* boolean-like-variable */
    }

    html {
        scroll-behavior: var(--a2-scroll-behavior);

        /* set size of rem units */
        font-size: var(--a2-rem-size);
    }

    #app {
        isolation: isolate; /* Create a root stacking context for app */
    }
}

@layer defaults {
    /* set generic typography values */
    :where(body) {
        font-family: var(--a2-font-family);
        font-size: var(--a2-font-size);
        font-weight: var(--a2-font-weight);
        line-height: var(--a2-line-height);
        color: var(--a2-text-color);
    }

    :where(#app) {
        --a2-main-cell-bg-color: var(--color-primary-shade);
    }

    /* set text color for elements that need emphasis */
    :where(h1, h2, h3, h4, h5, h6, a, b, q, em, strong, mark, var, kbd, samp) {
        color: var(--a2-emphasized-text-color);
    }

    /** 
     * running list of elements that should have preferred "semantics" cursor 
     * (when they are not direct descendants of one's that should have pointer cursor)
     */
    :not(a, button) > :where(div, p, h1, h2, h3, h4, h5, h6, b, strong, em, i, span, small, mark, abbr, q, sup, sub, del, ins, s, u, kbd, var, li, dd, figcaption) {
        cursor: var(--a2-semantics-cursor);
    }

    /* running list of elements that should have pointer cursor */
    :where(a, button) {
        cursor: pointer;
    }

    /* apply loading gif as background to all images */
    /* https://loading.io/spinner/spinner/ */
    :where(img) {
        background: url("/resources/gif/loading.gif") center center no-repeat; /* centered icon */
        background-size: 64px 64px; /* icon size */
        background-color: var(--color-primary-neutral); /* filler color */
        font-size: 0px; /* hide unloaded image text */
    }

    /* Set line height of form-controls  */
    :where(button, input, select, textarea) {
        line-height: var(--a2-line-height-form-controls);
    }

    /* Set line height of element types that will contain text but will have container-like styling  */
    :where(code, kbd, samp) {
        line-height: var(--a2-line-height-atoms);
    }

    /* code styling */
    :where(code, var) {
        @apply codelike;
    }

    :where(samp) {
        @apply codelike;
        --a2-code-relative-font-size: 0.9; /* override font-size (and line-height follows) */
        font-family: var(--font-github-code);
        line-height: var(--a2-line-height);
        display: block;
    }

    :where(*) {
        @apply shadow-(--a2-shadow-color);
        border-color: var(--a2-outline-border-color);
        outline-color: var(--a2-outline-border-color);
        &::selection {
            background-color: --alpha(var(--color-aqua-accent) / 50%);
        }
    }

    :where(q) {
        font-style: italic;
    }
}

@layer utilities {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .page-animation {
        animation: 0.25s fadeIn ease-in-out;
    }

    .content-animation {
        animation: 1s fadeIn ease-in-out;
    }
}

@utility dark-palette {
    /* dark mode overrides of controller color palette variable */
    --color-primary-shade: var(--color-dark-primary-shade);
    --color-secondary-shade: var(--color-dark-secondary-shade);
    --color-tertiary-shade: var(--color-dark-tertiary-shade);
    --color-primary-neutral: var(--color-dark-primary-neutral);
    --color-important-text: var(--color-dark-important-text);
    --color-primary-shadow: var(--color-dark-primary-shadow);
    --color-inverted-primary: var(--color-light-primary-shade);
    --color-inverted-secondary: var(--color-light-secondary-shade);
    --color-inverted-tertiary: var(--color-light-tertiary-shade);
    --color-inverted-neutral: var(--color-light-primary-neutral);
    --color-inverted-shadow: var(--color-light-primary-shadow);
    --color-inverted-important-text: var(--color-light-important-text);
    --color-grid-background: var(--color-light-grid-background);

    --color-blue-accent: var(--color-dark-blue-accent);
    --color-red-accent: var(--color-dark-red-accent);
    --color-green-accent: var(--color-dark-green-accent);
    --color-aqua-accent: var(--color-dark-aqua-accent);
    --color-orange-accent: var(--color-dark-orange-accent);
}

@utility debug {
    outline-color: black;
    @apply outline;
    @apply bg-purple-500/25;
}

@utility p-xdouble-y-* {
    padding-inline: calc(--value(number) * 2px);
    padding-block: calc(--value(number) * 1px); /* Use `calc(... * _px)` to assign units */
}

@utility match-height-in-line-* {
    line-height: 1;
    height: 1em; /* match height of parent */
}

@utility codelike {
    /* inline code styling */
    --a2-code-font-family: var(--font-code);
    /* calculated line height and height based off this to ensure overall height equals parents' fontsize */
    --a2-code-relative-font-size: 0.8;
    --a2-code-font-weight: 600;

    --a2-code-background-color: --alpha(var(--color-inverted-important-text) / 75%); /* 75% opacity */
    --a2-code-border-color: var(--color-aqua-accent);
    --a2-code-border-width: var(--border-md);

    font-family: var(--a2-code-font-family);
    font-weight: var(--a2-code-font-weight);
    font-size: calc(var(--a2-code-relative-font-size) * 1em);
    line-height: calc(1 / var(--a2-code-relative-font-size));
}

/* allow leading to accept variable values */
@utility leading-* {
    line-height: --value([integer]);
}

/* styling for the center cell of the app */
@utility main-content-cell {
    /* remove specificity via `where` */
    :where(&) {
        padding-inline: var(--a2-main-content-padding-inline);
        padding-block: var(--a2-main-content-padding-block);
        margin: auto;
    }
}

@utility prose-xs {
    /* create a new variant for prose */
    font-size: var(--text-xs);
}

@utility u-fa-icon {
    :where(&) {
        color: var(--color-dark-important-text);
        font-size: 1em;

        &:hover {
            scale: calc(100% + var(--a2-transform-scale-adjust));
        }
    }
}

@utility u-inline-code {
    &::before,
    &::after {
        content: none; /* remove ticks that prose always adds */
    }
    @apply codelike;

    background-color: var(--a2-code-background-color);
    color: var(--a2-code-text-color);
    border: var(--a2-code-border-width) solid var(--a2-code-border-color);
    padding-inline: var(--spacing);
}

@utility u-figcaption {
    font-size: 0.75em;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: start;
    row-gap: var(--a2-spacing-atoms);

    &::before {
        content: "⬑"; /* styling for "before" arrow */
        line-height: 1;
        height: 1em; /* match height of parent */
        padding-inline: 0.5em;
        grid-column: 1;
        grid-row: 1;
        align-self: first baseline; /* override parent's `align-items: center` */
    }

    & > * {
        grid-column: 2; /* Put every child element into column 2 */
        /* Remove margin between blocks (p, ul, pre, etc.). Relay on grid gap for consistent spacing. */
        margin: 0;
    }
}

@utility u-callout {
    font-weight: 500;
    font-family: var(--font-github-code);
}

@utility u-math {
    color: var(--a2-emphasized-text-color);
    font-size: 0.875em;
    line-height: 0.875em;
    color: var(--color-orange-accent);

    /* increase distinguishability for non-display (inline) math */
    &:not(.tml-display) {
        filter: brightness(125%);
        filter: contrast(125%);
    }
}

@utility u-heading-with-anchor {
    display: inline-flex;
    align-items: center;
    gap: var(--a2-spacing-atoms);

    /* style heading anchor link */
    & > .heading-anchor {
        /* set size of anchor link and inner svg element */
        height: 0.75em;
        aspect-ratio: 1 / 1;
        rotate: 45deg;

        /* create local variables to adjust color on hover */
        --luminance-adjust: 0;
        --saturation-adjust: 0;

        --a2-anchor-icon-body: hsl(from currentColor h calc(s + var(--saturation-adjust)) calc(l + var(--luminance-adjust)));
        --a2-anchor-icon-stroke-width: 2.5px;

        @media (min-width: theme(--breakpoint-horizontal)) {
            display: none; /* start invisible if on desktop */
        }

        &:hover {
            --saturation-adjust: calc((var(--a2-is-dark-theme) * 2 - 1) * 20);
            --luminance-adjust: calc((var(--a2-is-dark-theme) * 2 - 1) * 20);
        }

        &:active {
            scale: calc(100% - var(--a2-transform-scale-adjust));
        }
    }

    &:hover > .heading-anchor {
        display: block; /* show anchor when heading is hovered */
    }
}

@layer overrides {
    :root {
        @media (max-width: theme(--breakpoint-horizontal)) {
            --spacing: 2px; /* reduce global spacing */
        }

        &[data-theme="dark"] {
            @apply dark-palette; /* apply dark-palette when root element has dark-theme in its class list */
            --a2-is-dark-theme: 1;
        }
    }

    /* override the default .prose class defined in "utilities" layer */
    .prose {
        --tw-prose-body: var(--a2-text-color);
        --tw-prose-headings: var(--a2-emphasized-text-color);
        --tw-prose-links: var(--color-blue-accent);
        --tw-prose-bold: var(--a2-emphasized-text-color);
        --tw-prose-code: var(--a2-code-text-color);
        --tw-prose-counters: var(--a2-emphasized-text-color);
        --tw-prose-bullets: var(--a2-emphasized-text-color);

        :where(:not(.not-prose, .not-prose *)) {
            & {
                margin-inline: auto;
            }

            /* inline code */
            &:where(code):not(.expressive-code pre code),
            &:is(.ec-code-caption code) {
                @apply u-inline-code;
            }

            /* figcaption */
            &:is(figcaption.ec-code-caption, figcaption.rehyped-figcaption) {
                @apply u-figcaption;
            }

            /* Github-style TIP, INFO, QUESTION, etc. */
            &:where(.callout) {
                @apply u-callout;
            }

            /* styling for LaTeX */
            &:where(math) {
                @apply u-math;
            }

            /* style headings that contain an anchor */
            &:where(.heading-with-anchor) {
                @apply u-heading-with-anchor;
            }

            /*     styleOverrides: {
        uiFontFamily: "inherit",
        uiFontSize: "inherit",
        uiFontWeight: "inherit",
        uiLineHeight: "inherit",
    },
    */
            /*     styleOverrides: { borderRadius: "0.375rem", codePaddingInline: "0.5rem" }, */
            /* 
                styleOverrides: {
                    uiFontFamily: "inherit",
                    uiFontSize: "inherit",
                    uiFontWeight: "inherit",
                    uiLineHeight: "inherit",
                } */

            /* div.expressive-code {
                margin-top: 2rem;
                margin-bottom: 2rem;

                .gutter {
                    @apply px-0!;
                    .ln {
                        @apply text-inverted-primary/50! px-1! text-[8px]! leading-none! md:px-1!;
                    }
                }

                span.title {
                    @apply text-[0.6rem]! md:text-[0.7rem]! lg:text-[0.75rem]!;
                }

                code {
                    @apply cursor-text text-[0.6rem]! md:text-[0.7rem]! lg:text-[0.75rem]!;
                }
            } */
        }
    }
}
