---
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import ProjectLayout from "@/layouts/ProjectLayout.astro";

import createSlug from "@/lib/createSlug";

export async function getStaticPaths() {
    const projects = await getCollection("projects");

    // Include tech stack as honorary tags
    const uniqueRawTags = [
        ...new Set(
            projects
                .map((project: any) => [
                    ...project.data.tags,
                    ...project.data.techStack,
                ])
                .flat(),
        ),
    ];

    return uniqueRawTags.map((tag) => {
        const filteredProjects = projects.filter(
            (project: any) =>
                project.data.tags.includes(tag) ||
                project.data.techStack.includes(tag),
        );
        return {
            params: { tag: tag.replaceAll("_", " ") },
            props: { projects: filteredProjects },
        };
    });
}

const { tag: tag } = Astro.params;
const { projects } = Astro.props;
---

<MainLayout title={tag} layout="HIDE_BOTH">
    <a
        href="/tags"
        class="sticky top-0 m-2 bg-black py-3 pr-3 pl-6 font-medium text-white [clip-path:polygon(0%_50%,10%_0,100%_0,100%_100%,10%_100%)] hover:bg-neutral-700"
    >
        Back to Tags Index
    </a>
    <div class="w-full text-center">
        <div class="prose m-auto">
            <h3 class="mb-8">
                PROJECTS UNDER <i class="text-blue-accent">{tag}</i> TAG
            </h3>
        </div>

        <ul>
            {
                projects.map((project: any) => (
                    <li class="mb-24">
                        <a
                            href={`/projects/${createSlug(
                                project.data.title,
                                project.data.slug,
                            )}`}
                            class="text-red-accent text-xl font-bold underline hover:text-2xl"
                        >
                            {project.data.title}
                        </a>

                        <ProjectLayout project={project} />
                    </li>
                ))
            }
        </ul>
    </div>
</MainLayout>
