---
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";

const projects = await getCollection("projects");

const uniqueTags = [
    ...new Set(
        projects
            .map((project: any) => {
                let tags = project.data.tags;
                tags.push(...project.data.techStack); // push tech stack as additional tags

                tags = tags.map((tag: string) => {
                    return tag.replaceAll("_", " ");
                });

                return [...tags];
            })
            .flat(),
    ),
];
---

<MainLayout title="Tags Index">
    <div class="prose m-auto text-center">
        <h1 class="">Tags Index</h1>
        <div class="columns-3 leading-tight *:in-first-of-type:mt-0">
            {
                uniqueTags.map((tag) => (
                    <p>
                        <a
                            href={`/tags/${tag}/`}
                            class="hover:text-blue-accent underline underline-offset-4"
                        >
                            {tag}
                        </a>
                    </p>
                ))
            }
        </div>
    </div>
</MainLayout>
