---
import "../styles/global.css";

import MainLayout from "../layouts/MainLayout.astro";

import SectionLayout from "../layouts/SectionLayout.astro";
---

<MainLayout title="404">
    <SectionLayout>
        <div class="text-4xl">
            <div class="text-9xl">404</div>
            <br />
            <div>
                Whoops, no page here. Go back
                <a href="/" class="text-wanderer-secondary">HOME</a>.
            </div>
        </div>
    </SectionLayout>
</MainLayout>
