---
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

import Landing from "../components/Landing.astro";
---

<MainLayout>
    <>
        <SectionLayout section_id="landing">
            <Landing />
        </SectionLayout>

        <SectionLayout section_id="projects">
            <div class="">
                <h2>My Projects</h2>
                <p>...</p>
            </div>
        </SectionLayout>
    </>
</MainLayout>
