---
import "../styles/global.css";

import { getCollection } from "astro:content";

import MainLayout from "../layouts/MainLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

import Landing from "../components/Landing.astro";

const projects = await getCollection("project");
---

<MainLayout>
    <>
        <SectionLayout section_id="landing">
            <Landing />
        </SectionLayout>

        <SectionLayout section_id="projects">
            <ul>
                {
                    projects.map((post) => (
                        <li>
                            <a href={`/project/${post.slug}/`}>
                                {post.data.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </SectionLayout>
    </>
</MainLayout>
