---
import BaseLayout from '../layouts/BaseLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout>
	
	<div>
		Hi I'm Amy, welcome to my personal portfolio website. My hometown is Portland, Oregon, and I'm currently an undergraduate studying in the Computer Graphics department at the University of Pennsylvania. In May 2026, I will be graduating with both a Bachelor of Science in Engineering and an accelerated Master of Science in Engineering degree.
	</div>
</BaseLayout>
