---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

import Landing from "../components/Landing.astro";
---

<BaseLayout>
    <>
        <SectionLayout section_id="landing">
            <Landing />
        </SectionLayout>

        <SectionLayout section_id="projects">
            <div class="debug bg-red-100">
                <h2>My Projects</h2>
                <p>...</p>
            </div>
        </SectionLayout>
    </>
</BaseLayout>
