---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

import About from "../components/About.astro"
---

<BaseLayout>
    <About />
    <SectionLayout section_id="projects">
        <h2>My Projects</h2>
        <p>...</p>
    </SectionLayout>
</BaseLayout>
