---
import "../styles/global.css";

import { getCollection } from "astro:content";

import MainLayout from "../layouts/MainLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";

import Landing from "../components/Landing.astro";

import createSlug from "../lib/createSlug";

const projects = await getCollection("project");
---

<MainLayout title="Home">
    <>
        <SectionLayout section_id="landing">
            <Landing />
        </SectionLayout>

        <SectionLayout section_id="projects">
            <ul>
                {
                    projects.map((project) => (
                        <li>
                            <a
                                href={`/project/${createSlug(project.data.title)}/`}
                            >
                                {project.data.title}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </SectionLayout>
    </>
</MainLayout>
