---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<BaseLayout>
    <SectionLayout section_id="about">
        <div class="container max-w-[450px]">
            <p class="text-[18px]">
                Hi I'm Amy, welcome to my personal portfolio website. My
                hometown is Portland, Oregon, and I'm currently an undergraduate
                studying in the Computer Graphics department at the University
                of Pennsylvania. In May 2026, I will be graduating with both a
                Bachelor of Science in Engineering and an accelerated Master of
                Science in Engineering degree.
            </p>
        </div>
    </SectionLayout>
    <SectionLayout section_id="projects">
        <h2>My Projects</h2>
        <p>...</p>
    </SectionLayout>
</BaseLayout>
