---
import "../styles/global.css";
import headshot from "../../public/png/headshot-2025-v1.png";
---

<section id="about" class="flex min-h-screen min-w-full justify-center items-center">

    <div
        id="left-bg"
        class="bg-wanderer-200 absolute inset-y-0 left-0 z-0 h-screen transition-[width] duration-0 ease-in-out"
    >
    </div>

    <a
        href="/"
        class="font-signature fixed top-8 right-12 text-wanderer-300 flex justify-center text-[2.5rem] font-extrabold transition hover:scale-[101%]"
    >
        Amy M. Liu
    </a>
    <!-- content container -->
    <div class="flex flex-col lg:flex-row mx-12 justify-center items-center lg:space-x-16 space-y-4 z-10 py-2 px-auto overflow-hidden">
        <!-- headshot container -->
        <div class="flex p-4 max-w-[400px]">
            <img
                id="headshot"
                src={headshot.src}
                alt="headshot"
                class="h-full w-full rounded-full object-cover ring-12 ring-wanderer-100/100"
            />
        </div>

        <!-- text container -->
        <div class="flex justify-center text-center lg:text-left font-medium">
            <article class="">
                <div class="text-5xl/loose font-bold">Amy M. Liu</div>
                <div class="text-md/relaxed">
                    <p>Hi, nice to meet you.
                    <br>Welcome to my personal portfolio website.</p>
                </div>
            </article>
        </div>
    </div>

</section>

<script>
    import { syncBackgroundWidth } from "./NavBar";

	// run once after images load, then on every resize
	window.addEventListener("load", syncBackgroundWidth);
	window.addEventListener("resize", syncBackgroundWidth);
</script>