---
import "@/styles/global.css";
---

<div class="pb-2 shadow-[0_10px_15px_3px]">
    <ul class="flex justify-center space-x-4 p-1 *:hover:underline">
        <li><a href="https://github.com/mialana/">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/miyalana/">LinkedIn</a></li>
        <li><a href="mailto:liu.amy05@gmail.com">Contact</a></li>
    </ul>
    <div class="text-center text-sm">[© 2025] [Developed by Amy Liu]</div>
</div>
