---
import "@/styles/global.css";
---

<div class="border-t pb-2">
    <ul class="flex justify-center space-x-4 p-1 *:hover:underline">
        <li><a href="https://github.com/mialana/">GitHub</a></li>
        <li><a href="https://www.linkedin.com/in/miyalana/">LinkedIn</a></li>
    </ul>
    <div class="text-center text-sm">[© 2025] [Developed by Amy Liu]</div>
</div>
