---
import "@/styles/global.css";
---

<div class="border-b pt-2">
    <h1 class="font-signature text-center text-4xl font-extrabold">
        <a href="/">AMY LIU</a>
    </h1>
    <ul class="flex w-full justify-center space-x-8 p-1">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <!-- <li><a>Blog</a></li> -->
        <!-- <li><a>Cache</a></li> -->
        <!-- <li><a>Art</a></li>
        <li><a>Notes</a></li> -->
    </ul>
</div>
