---
import "@/styles/global.css";
---

<div class="pt-2 shadow-lg">
    <h1 class="font-signature text-center text-4xl font-extrabold">
        <a href="/">AMY LIU</a>
    </h1>
    <div class="relative w-full p-1">
        <ul class="flex justify-center space-x-8 *:hover:underline">
            <li><a href="/">Home</a></li>
            <li><a href="/projects/">Projects</a></li>
            <!-- <li><a>Blog</a></li> -->
            <!-- <li><a>Cache</a></li> -->
            <!-- <li><a>Art</a></li>
        <li><a>Notes</a></li> -->
        </ul>
        <div></div>
    </div>
</div>
<div class="bg relative mt-1 flex w-full justify-end">
    <ul
        class="*:bg-red-accent flex text-white *:mr-4 *:rounded-b-md *:px-3 *:py-1 *:hover:scale-105"
    >
        <li><a href="/resume.pdf">Resume</a></li>
    </ul>
</div>
