---
import "../styles/global.css";
---

<div class="flex h-full flex-col">
    <div class="h-full"></div>

    <ul class="flex flex-row justify-center space-x-8 p-1 outline">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a>Projects</a>
        </li>
        <li>
            <a>Blog</a>
        </li>
    </ul>
</div>
