---
import "../styles/global.css";
import headshot from "../../public/png/headshot-2025-v1.png";
---

<>
    <div
        id="left-bg"
        class="bg-wanderer-200 absolute inset-y-0 left-0 z-0 h-screen"
    >
    </div>

    <!-- content container -->
    <div
        class="px-auto z-10 mx-12 flex flex-col items-center justify-center space-y-4 overflow-hidden py-2 lg:flex-row lg:space-x-16"
    >
        <!-- headshot container -->
        <div class="flex max-w-[400px] p-4">
            <img
                id="headshot"
                src={headshot.src}
                alt="headshot"
                class="ring-wanderer-100/100 h-full w-full rounded-full object-cover ring-12"
            />
        </div>

        <!-- text container -->
        <div class="flex justify-center text-center font-medium lg:text-left">
            <article class="">
                <div class="text-5xl/loose font-bold">Amy M. Liu</div>
                <div class="text-md/relaxed">
                    <p>
                        Hi, nice to meet you.
                        <br />Welcome to my personal portfolio website.
                    </p>
                </div>
            </article>
        </div>
    </div>
</>

<script>
    import { syncBackgroundWidth } from "./NavBar";

    // run once after images load, then on every resize
    window.addEventListener("load", syncBackgroundWidth);
    window.addEventListener("resize", syncBackgroundWidth);
</script>
