---
import "../styles/global.css";
import { Image } from "astro:assets";

import Headshot from "../assets/png/headshot-2025.png";
---

<>
    <!-- <div
        id="left-bg"
        class="bg-wanderer-200 absolute inset-y-0 left-0 z-0 h-full w-1/2"
    >
    </div> -->

    <!-- content container -->

    <div
        class="debug z-10 flex h-full w-full flex-col items-center lg:flex-row"
    >
        <!-- headshot container -->
        <div
            class="bg-wanderer-200 m-0 flex h-full w-full flex-row items-center"
        >
            <div class="relative mr-0 ml-auto h-full w-[400px] p-4">
                <div
                    class="bg-wanderer-100 absolute top-0 right-0 z-0 h-full w-1/2"
                >
                </div>
                <Image
                    id="headshot"
                    src={Headshot}
                    alt="headshot"
                    class="ring-wanderer-100/100 relative top-1/4 z-10 h-auto w-full rounded-full object-cover ring-12"
                />
            </div>
        </div>

        <!-- text container -->
        <div
            class="debug flex min-w-[30rem] items-center justify-center text-center font-medium lg:text-left"
        >
            <article class="space-y-[2dvh]">
                <div class="text-4xl/tight font-bold lg:text-5xl/tight">
                    Amy Liu
                </div>
                <div class="lg:text-md/relaxed text-sm/relaxed">
                    <p>
                        Hi, nice to meet you.
                        <br />Welcome to my website.
                    </p>
                </div>
            </article>
        </div>
    </div>
</>
