---
import "../styles/global.css";
import { Image } from "astro:assets";

import Headshot from "../assets/png/headshot-2025-v1.png";
---

<>
    <div
        id="left-bg"
        class="bg-wanderer-200 absolute inset-y-0 left-0 z-0 h-screen w-auto"
    >
    </div>

    <!-- content container -->
    <div
        class="px-auto z-1 mx-12 flex flex-col items-center justify-center space-y-4 py-2 lg:flex-row lg:space-x-16"
    >
        <!-- headshot container -->
        <div class="flex max-w-[400px] p-4">
            <Image
                id="headshot"
                src={Headshot}
                alt="headshot"
                class="ring-wanderer-100/100 h-full w-full rounded-full object-cover ring-12"
            />
        </div>

        <!-- text container -->
        <div
            class="flex items-center justify-center text-center font-medium lg:text-left"
        >
            <article class="space-y-[2dvh]">
                <div class="text-4xl/tight font-bold lg:text-5xl/tight">
                    Amy Liu
                </div>
                <div class="lg:text-md/relaxed text-sm/relaxed">
                    <p>
                        Hi, nice to meet you.
                        <br />Welcome to my website.
                    </p>
                </div>
            </article>
        </div>
    </div>
</>
