---
import "../styles/global.css";
import { Picture } from "astro:assets";

import headshot from "../assets/png/headshot-2025-v1.png";
---

<nav
    class="bg-wanderer-300 fixed z-10 h-auto min-h-full w-[312px] space-y-8 px-8 py-12"
>
    <a
        href="/"
        class="font-signature text-wanderer-100 flex justify-center text-[2.5rem] font-extrabold transition ease-in-out hover:scale-[101%]"
        >Amy M. Liu</a
    >
    <div></div>
    <div class="">
        <div class="mx-4 overflow-hidden">
            <Picture
                src={headshot}
                formats={["png"]}
                alt="headshot-2025-v1"
                class="h-full w-full rounded-full object-cover"
            />
        </div>
    </div>

    <ul class="space-y-4 font-medium">
        <li><a href="#about" class="hover:underline">About</a></li>
        <li><a href="#projects" class="hover:underline">Projects</a></li>
    </ul>
</nav>

<script type="module" is:inline>
    const btn = document.getElementById("nav-toggle");
    const sidebar = document.getElementById("sidebar");

    btn.addEventListener("click", () => {
        const isOpen = !sidebar.classList.toggle("-translate-x-full");
        // update aria-expanded for accessibility
        btn.setAttribute("aria-expanded", isOpen);
    });
</script>
