---
import type { MarkdownHeading } from "astro";

interface Props {
    headings: MarkdownHeading[];
}
const { headings = [] } = Astro.props;

type Node = MarkdownHeading & { children: Node[] };
const root: Node = { depth: 0, slug: "", text: "", children: [] };
const stack: Node[] = [root];

for (const h of headings) {
    while (stack.length && h.depth <= stack.at(-1)!.depth) stack.pop();
    const node: Node = { ...h, children: [] };
    stack.at(-1)!.children.push(node);
    stack.push(node);
}
---

<section>
    <h1 class="leading-loose font-semibold">On This Page</h1>
    <ul
        class="w-fit px-1 text-sm leading-relaxed text-nowrap **:border-neutral-200"
    >
        {
            (function renderTree(nodes: Node[]): any {
                return nodes.map((n) => (
                    <li>
                        <div class={`relative w-fit pr-2 pb-1`}>
                            <a
                                href={`#${n.slug}`}
                                class="x-1 relative top-1 hover:underline active:underline"
                            >
                                {n.text}
                            </a>
                        </div>
                        {n.children.length > 0 && (
                            <ul class="pl-3">{renderTree(n.children)}</ul>
                        )}
                    </li>
                ));
            })(root.children)
        }
    </ul>
</section>
