---
import "@/styles/global.css";

interface Props {
    content: string[];
    label: string;
}

const { content, label } = Astro.props;
---

<div
    class=`flex w-full !snap-x !snap-mandatory gap-2 my-1 overflow-x-scroll text-xs !text-white capitalize items-baseline`
>
    <div class="text-[0.4rem]/none text-neutral-600 uppercase">{label}</div>
    {
        content.map((tag) => (
            <div class="size-fit !snap-start rounded-sm bg-neutral-900 px-1 text-nowrap">
                {tag}
            </div>
        ))
    }
</div>
