---
import { getCollection, render } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";

import createSlug from "@/lib/createSlug";

// Generate a new path for every collection entry
export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((project) => {
        let slug = createSlug(project.data.title, project.data?.slug);
        return {
            params: { slug: slug },
            props: { project },
        };
    });
}

const { project } = Astro.props;

const { Content } = await render(project);
---

<MainLayout title={project.data.title}>
    <div class="**:mx-auto">
        <div class="my-2 w-fit rounded-md p-2 *:w-fit">
            <h1 class="text-4xl font-bold text-balance">
                {project.data.title}
            </h1>
            <h3>
                {project.data.startDate} - {project.data.endDate}
            </h3>
        </div>

        <div class="prose">
            <hr />
            <Content />
            <hr />
        </div>
    </div>
</MainLayout>
