---
import "@/styles/global.css";

import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import ProjectCard from "@/components/ProjectCard.astro";

import createSlug from "@/lib/createSlug";

const projects = (await getCollection("projects")).sort(
    (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),
);
---

<MainLayout title="Projects" layout="HIDE_BOTH">
    <div
        class="flex flex-wrap justify-center gap-12 overflow-visible px-8 py-4 md:px-16"
    >
        {projects.map((project) => <ProjectCard project={project} />)}
    </div>
</MainLayout>
