---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Amy M. Liu - Personal Portfolio Website</title>
    </head>
    <body>
        <Navigation />
        <main class="flex-col bg-wanderer-100 ml-[312px]">
            <slot />
        </main>
    </body>
</html>
