---
import "../styles/global.css";
import Navigation from "../components/NavBar.astro";
import NavBar from "../components/NavBar.tsx";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Amy M. Liu - Personal Portfolio Website</title>
    </head>
    <body>
        <NavBar client:load />
        <main
            class="bg-wanderer-100 flex flex-col transition-all ml-0 duration-300 ease-in-out"
        >
            <slot />
        </main>
    </body>
</html>
