---
import "../styles/global.css";
import NavBar from "../components/NavBar";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Amy Liu - Personal Portfolio Website</title>
    </head>
    <body>
        <!-- signature -->
        <a
            href="/"
            class="text-wanderer-300 font-signature transition-default-100 fixed top-8 right-12 z-2 flex text-[2.5rem] font-extrabold hover:scale-[105%]"
        >
            Amy Liu
        </a>
        <NavBar client:load />
        <main class="transition-default-300">
            <slot />
        </main>
    </body>
</html>
