---
import "../styles/global.css";
import Header from "../components/Header.astro";
import NavBar from "../components/NavBar";

enum LayoutEnum {
    DEFAULT = "grid-cols-[auto_1fr_auto]",
    HIDE_NAV = "grid-cols-[0px_1fr_16rem]",
    HIDE_ASIDE = "grid-cols-[16rem_1fr_0px]",
    HIDE_BOTH = "grid-cols-[0px_1fr_0px]",
}

function extractLayout(key: string): LayoutEnum | undefined {
    return LayoutEnum[key as keyof typeof LayoutEnum];
}

interface Props {
    title: string;
    layout?: keyof typeof LayoutEnum;
}

const { title, layout = "DEFAULT" } = Astro.props;

const dynamic_layout = extractLayout(layout);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} · Amy Liu</title>
    </head>
    <body
        class=`grid h-screen w-screen max-h-screen grid-rows-[auto_1fr_auto] gap-4 outline-black *:outline-1 ${dynamic_layout}`
    >
        <header class="col-span-3 h-24"><Header /></header>
        <nav id="nav-grid-cell"><NavBar position="Left" client:load /></nav>
        <main><slot /></main>
        <aside></aside>
        <footer class="col-span-3 h-12"></footer>
    </body>
</html>
