---
import "@/styles/global.css";
import Header from "@/components/Header.astro";
import SideBar from "@/components/SideBar";
import Footer from "@/components/Footer.astro";

import { type MarkdownHeading } from "astro";

import { LayoutMap } from "@/lib/Maps";

interface Props {
    title: string;
    layout?: keyof typeof LayoutMap;
    headings?: MarkdownHeading[];
}

const { title, layout = "DEFAULT", headings } = Astro.props;

const layoutInfo = LayoutMap[layout];
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>{title} · Amy Liu</title>
    </head>
    <body
        class=`grid *:relative h-screen w-screen max-h-screen max-w-screen grid-rows-[auto_minmax(0,1fr)_auto] gap-4 py-2 ${layoutInfo["grid_cols"]}`
    >
        <header class="col-span-3"><Header /></header>
        <nav id="nav-grid-cell">
            <SideBar
                label="Showcase"
                position="Left"
                active={layoutInfo["nav_active"]}
                client:load
            />
        </nav>
        <main class="max-h-full w-full max-w-full overflow-y-scroll">
            <slot />
        </main>
        <aside id="aside-grid-cell">
            <SideBar
                label="On this page"
                position="Right"
                active={layoutInfo["aside_active"]}
                headings={headings}
                client:load
            />
        </aside>
        <footer class="col-span-3"><Footer /></footer>
    </body>
</html>
