---
import "../styles/global.css";

const { section_id } = Astro.props;
---

<section
    id={section_id}
    class="flex min-h-screen items-center justify-center p-8 text-center"
>
    <slot />
</section>
