---
import "@/styles/global.css";

const { section_id } = Astro.props;
---

<section id={section_id} class="flex size-full p-2">
    <div class="m-8 grow shadow-lg">
        <slot />
    </div>
</section>
