---
import "../styles/global.css";

const { section_id } = Astro.props;
---

<section
    id={section_id}
    class="flex min-h-screen min-w-full items-center justify-center text-center"
>
    <slot />
</section>
